<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Album</title>
    <link th:href="@{style.css}" rel="stylesheet" />

</head>
<body>
<h2>Add A New Album</h2>

<div>
    <form action="/" method="POST">
        <fieldset>
            <legend>Add Album</legend>
            <label for="artist"> Artist Name:</label>
            <input type="text" name="artist">
            <label for="title"> Album Title:</label>
            <input type="text" name="title">
            <label for="songCount"> Song Count:</label>
            <input type="text" name="songCount">
            <label for="length"> Album Length in Seconds:</label>
            <input type="text" name="length">
            <label for="imageURL"> Image Url:</label>
            <input type="text" name="imageURL">
            <input type="submit" value="Add">
        </fieldset>
    </form>
</div>
</body>
</html>