<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Album</title>
    <link th:href="@{style.css}" rel="stylesheet" />

</head>
<body>
<h2>Add A New Album</h2>

<div>
    <form action="/addAlbum" method="POST">
        <label for="title">Title:  <input type="text" name="title" id="title"> </label><br>
        <label for="artist">Artist:  <input type="text" name="artist" id="artist"> </label><br>
        <label for="songCount">Song Count:  <input type="number" name="songCount" id="songCount"> </label><br>
        <label for="length">Length:  <input type="number" name="length" id="length"> </label><br>
        <label for="imageUrl">Image URL: <input type="text" name="imageUrl" id="imageUrl"> </label><br>
        <input type="submit" value="Add Album">
    </form>
</div>
</body>
</html>