<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    <link th:href="@{style.css}" rel="stylesheet" />
</head>
<body>
<h1>Albums:</h1>
<div th:each="album : ${albums}" >
    <p>Title: <span th:text=${album.title}></span></p>
    <p>Artist: <span th:text="${album.artist}"></span></p>
    <p>Song Count: <span th:text="${album.songCount}"></span></p>
    <p>Length: <span th:text="${album.length}"></span></p>
    <img th:src=@{${album.imageUrl}} width="500" height="600">
    <hr>
    <hr>
    <hr>
</div>
</body>
</html>